<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobTrackSA"
        android:usesCleartextTraffic="true">


        <!-- Registration screen -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Login screen - first screen when the app launches -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Main application screen -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.application.AddApplicationActivity"
            android:exported="false" />

        <activity
            android:name=".ui.application.ApplicationsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.application.ApplicationDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.application.EditApplicationActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />

    </application>

</manifest>